body {
  background-color: #b8b7ad;
}

.App {
  text-align: center;
  margin-left: 100px;
  background-color: #b8b7ad;
}


.App-header {
  background-color: #222222;
  height: 150px;
  padding: 20px;
  color: #2196F3;
}

.App-title {
  font-size: 2.7em;
  height: 65px;
  color: #2196F3;
  text-shadow: -1px 0 #333333, 0 1px #333333, 1px 0 #333333, 0 -1px #333333;
}

.App-container {
  display: flex; 
  flex-direction: row;
}

.side {
  display: inline-block;
  background-color: #373a47;
  width: 250px;
  text-align: center;
  border-right: solid;
}

.plot {
  border-radius: 25px;
  border: solid;
  width: 600px;
  position: relative;
  padding: 20px;
  margin: 5px;
  background-color: #ffffff;
  cursor: pointer;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #b8b7ad;
  text-align: left;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eeeeee;
  border-radius: 50%;
}

.container:hover input ~ .checkmark {
  background-color: #cccccc;
}

.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
 top: 9px;
left: 9px;
width: 8px;
height: 8px;
border-radius: 50%;
background: #ffffff;
}

.containers {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #b8b7ad;
  text-align: left;
}

.checkmarks {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eeeeee;
}

.containers:hover input ~ .checkmarks {
  background-color: #cccccc;
}

.containers input:checked ~ .checkmarks {
  background-color: #2196F3;
}

.checkmarks:after {
  content: "";
  position: absolute;
  display: none;
}

.containers input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.containers input:checked ~ .checkmarks:after {
  display: block;
}

.containers .checkmarks:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #ffffff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

h3 {
  color: #2196F3;
  font-size: 1.5em;
  text-shadow: -1px 0 #333333, 0 1px #333333, 1px 0 #333333, 0 -1px #333333;
}

h2 {
  font-size: 1.7em;
  font-display: bold;
}

p {
  font-size: 0.9em;
}

.object-container {
  display: flex; 
  flex-direction: row;
}

.object {
text-align: left;
margin-left: 50px;
}